body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cards {
  display: inline-block;
  margin-bottom: 0px;
}
.title {
  align-items: flex-start;
  margin: 10px 10px;
  font-size: small;
}

.duration {
  position:relative;
  margin: 10px 10px;
  right: -90px;
  bottom: 22px;
  font-size: 10px;
}

.card-text{
  display: flex;
  align-items: flex-start;
  margin: 10px 10px;
  font-size: small;
  font-weight: bold;
}

.card {
  font-size: small;
  margin-top: 15px;
  box-sizing: border-box;
  border: none;
  margin-top: 25px;
}


/* New styles here */

.artist-details {
  width: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px;
  border-right: 1px solid #ccc;
}

.fan-count::after {
  content: '';
  display: block;
  margin-top: 10px;
  background: #000;
  width: 5%;
  height: 1px;
}

.top-tracks {
  display: flex;
  border-bottom: 1px solid;
  margin-bottom: 25px
}

.top-tracks p {
  margin: 0;
  display: inline;
}

.artist-view-container {
  display: flex;
  border: 1px solid #ccc;
  margin: 30px 30px 0px 30px;
}

.top-track-title {
  margin: 0;
}

.search-container {
  background-color: #c1f1fc;
  border: 2px solid #ccc;
  padding: 10px;
  width: 100%;
  width: -moz-fit-content;
  padding: 5px;
  margin-bottom: 1em;
  margin-right: 0;
}

.top-tracks-container {
  padding: 1rem;
  width: 30%;
  padding: 40px 20px;
}
.numbers {
  margin-right: 10px;
}

.track-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.album-container {
  border: 1px solid #ccc;
  border-top: none;
  margin: 0px 30px 30px 30px;
}
.album-view {
  display: flex;
  margin: 0 auto;
  min-width: 480px;
  width: 60%;

}
.album {
  max-width: 150px;
}
.album-details {
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.album-title {
  width: 60%;
  margin: 0 auto;
}
.album-outer {
  padding: 30px;
}
.album-year {
  font-size: 8px;
}
.track-list-track-details {
  display: flex;
  padding: 10px 10px 0px 10px;
  justify-content: space-between;
  margin: unset;
}

.track-list-track-title {
  display: flex;
  margin: 10px 10px;
  justify-content: space-between;
  margin: unset;
  font-weight: bold;

}
.track-list-track-duration {
  font-size: 10px;
  margin: 0px;
}
.track-list-track-by {
  margin: 0px auto;
  font-size: 10px;
}

.track-list-track-artist-album {
  display: block;
  padding: 0px 10px 0px 10px;
}
.track-list-track-only-album {
  font-size: 10px;
  font-style: small;
  font-weight: bold;
}
.navbar {
  position: fixed;
  display:inline-block;
  content: flex;
  justify-content: space-around;
  margin-left: 5px;


}
.navbar .navbar-light .bg-light{
  background-color: #2b303b !important;
}
.artist-view-container-root {
  /* height: 100vh; */
  background-color: #c1f1fc;

  
}
.artist-description {
  background-color: #ecfafc;
  opacity: 0.8;
  color: #000;
  border-radius: 5px;
  padding: 5px;
}

.ml-auto .mx-auto {
  margin-left: 0px !important;
}


.mr-auto, .mx-auto {
  margin-right: 0px !important;
}
.form {
  width: 50%;
}

.search-input {
  width: 300px;
  height: 50px;
  border: none;
  font-size: 10pt;
  float: left;
  color: #63717f;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}


@media only screen and (max-width: 600px) {

  .artist-view-container-root {
    /* display: block; */
  }
  .artist-view-container {
    display: inline-block;
  }
  .top-tracks-top-tracks {
    font-size: 20px;
    font-weight: bold;

  }
  .artist-details {
    padding: 0px;
    width: unset;
  }
  .each-track {
    width: unset;
  }
  .top-tracks-container {
    width: unset;
  }
  .album-view{
    display: inline-block;
    padding-left:55px
  }
  .artist-view-container-root {
    height: unset;
  }
  .artist-description {
    padding: 15px;
    font-size: 11px;
    font-weight: 700;
  }
  .fan-count {
    padding-left: 15px;
  }
  .artist-title-name {
    padding-left: 15px;
  }
  .search-input {
    width: unset;
  }
  .cards {
    padding-left: 20%;  padding-left: 20%;
  }
}